
  <header>
      <h1>Festivals in Hidalgo del Parral</h1>
      <p>Experience Culture, History, and Celebration in the Heart of Chihuahua</p>
  </header>

  <div class="container">

      <div class="festival">
          <h2>Jornadas Villistas</h2>
          <p>
              Every July, Hidalgo del Parral transforms into a stage of history with the celebration of
              <strong>Jornadas Villistas</strong>,
              honoring the revolutionary leader Pancho Villa. The festival includes historical reenactments, concerts,
              parades, and cultural exhibitions. Thousands of locals and tourists gather to relive the spirit of the
              Mexican Revolution.
          </p>
          <img src="/assets/jornadas.webp"
              alt="Jornadas Villistas Parade" />
      </div>

      <div class="festival">
          <h2>Ferial del hueso</h2>
          <p> Every year, from October 26 to November 3, Hidalgo del Parral is filled with tradition during the celebration of the
            <strong>Feria del Hueso</strong>. This event, set against the backdrop of the Day of the Dead festivities, transforms
            Avenida Tecnológico into a vibrant "Commercial Alley" that stretches from the Dolores Cemetery to the Jardín Cemetery. </p>
            <p> During the festival, over 200 stalls are set up, offering a wide range of products, including flowers, traditional foods,
              clothing, blankets, and home goods. In addition, cultural and artistic events such as plays, dances, and musical performances
              are organized by local educational institutions. </p> <p> The <strong>Feria del Hueso</strong> is not only an opportunity to
                buy unique products but also a chance to enjoy a festive atmosphere that highlights the region’s customs and traditions. </p>
          <img src="/assets/feria.jpeg" alt="Feria del hueso" />
      </div>

  </div>

  <footer>
      &copy; 2025 Explore Parral - All Rights Reserved
  </footer>
