<div class="page">
  <header>
<nav>
  <a style="border: none;"  href="#">
    <img src="/assets/Escudo.png" alt="Shield of the municipality" style="width: 45px;">
  </a>
  </nav>
  <nav class="custom-nav">
    <input type="checkbox" id="sidebar-active">
    <label for="sidebar-active" class="open-sidebar-button">
      <fa-icon [icon]="faMenu"
      style="
      font-size: 25px;
      border: 3px solid;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;">
      </fa-icon>
    </label>
    <div id="overlay"></div>
    <div class="links-container">
      <label for="sidebar-active" class="close-sidebar-button">
        <fa-icon [icon]="faX" style="
        font-size: 15px;
        cursor: pointer;">
        </fa-icon>
      </label>
      <a
        class="nav-link"
        href="#"
        style="margin-right: 10px;"
        >
        Home
      </a>

      <a
        class="nav-link"
        href="/explore"
        style="margin-right: 10px;"
        >
        Explore Parral
      </a>

      <a
        class="nav-link"
        href="/plan"
        style="margin-right: 10px;"
        >
        Plan Your Visit
      </a>

    </div>
  </nav>
</header>
</div>
