<div class="page">
  <header>
<nav>
  <a style="background-color: #00030a; font-weight: bold;" href="#">GDC, Inc.</a>
  </nav>
  <nav class="custom-nav">
    <input type="checkbox" id="sidebar-active">
    <label for="sidebar-active" class="open-sidebar-button">
      <fa-icon [icon]="faMenu"
      style="
      font-size: 25px;
      border: 3px solid;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;">
      </fa-icon>
    </label>
    <div id="overlay"></div>
    <div class="links-container">
      <label for="sidebar-active" class="close-sidebar-button">
        <fa-icon [icon]="faX" style="
        font-size: 15px;
        cursor: pointer;">
        </fa-icon>
      </label>
      <a
        class="nav-link"
        href="#"
        style="margin-right: 10px;"
        >
        Home
      </a>

      <a
        class="nav-link"
        href="/design"
        style="margin-right: 10px;"
        >
        Diseño
      </a>

      <a
        class="nav-link"
        href="/hardware"
        style="margin-right: 10px;"
        >
        Hardware y Software
      </a>

      <a
        class="nav-link"
        href="/refrigeracion"
        style="margin-right: 10px;"
        >
        Refrigeración
      </a>

      <a
        class="nav-link"
        href="/seguridad"
        style="margin-right: 10px;"
        >
        Seguridad
      </a>

      <a
        class="nav-link"
        href="/energy"
        style="margin-right: 10px;"
        >
        Energia y respaldo
      </a>

      <a
        class="nav-link"
        href="/costos"
        style="margin-right: 10px;"
        >
        Costos
      </a>

    </div>
  </nav>
</header>
</div>
