<div>

    <section style="background-color: #ffa500a3;">
        <section class="parallax-1">
            <div class="parallax-inner" style="
            padding: 15% 0;">
                <h1>HIDALGO DEL PARRAL</h1>
            </div>
        </section>
        <h2>Welcome to Hidalgo del Parral, Chihuahua</h2>
        <p>Discover the charm of Hidalgo del Parral, a historic city surrounded by hill and legends.
          Once a silver mining capital and the final chapter of Pancho Villa’s life, Parral invites
          you to explore its colonial streets, vibrant culture, and breathtaking natural landscapes.
          Whether you're visiting for history, adventure, or authentic Mexican flavor — you'll find it here.</p>
        <section class="parallax-2">
            <div class="parallax-inner">
                <h1>Explore Parral</h1>
            </div>
        </section>
        <h2>Walk through history, culture, and tradition</h2>
        <p>
          Step into the past as you visit iconic places like Palacio Alvarado, the Pancho Villa Museum,
          and the lively historic downtown. Enjoy panoramic views from Cerro la Prieta or experience the
          energy of local festivals like Jornadas Villistas. Tap below to explore what makes Parral unforgettable.

          <a href="/explore" style="color: rgb(69, 69, 90); font-weight: 500;">[Go to Explore Parral]</a>
          </p>
        <section class="parallax-3">
            <div class="parallax-inner">
                <h1>Plan Your Visit</h1>
            </div>
        </section>
        <h2>Everything you need to get here and enjoy your stay</h2>
        <p>
          Find essential travel tips — how to get here, where to stay, and how to move around the city.
          Discover the local climate, food, and the best times to visit. Let us help you make your trip smooth and memorable.
          <a href="/plan" style="color: rgb(69, 69, 90); font-weight: 500;">[Go to Plan Your Visit]</a>
        </p>
    </section>

</div>

